.basinnChartWrapper {
	/*border: 2px solid rgb(224,214,204);*/
	border: 2px solid rgb(181,174,187);
	border-radius: 6px;
	height: 550px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

.basinnChartWrapper.dirty {
	border: 2px solid rgb(222, 161, 87);
}

.basinnChart {
	border-collapse: collapse;
	color: #794016;
	font-weight: bold;
	width: 100%;
}

.basinnChart thead {
	position: sticky;
	top: 0;
}

.basinnChart th {
	background: linear-gradient(#fff,#e4e0e9);
	text-align: left;
	width: 15%;
}

.basinnChart th:first-child {
	text-align: center;
	width: 40%;
}

.basinnChart .columnHeader {
	border-bottom: 2px solid rgb(181, 174, 187);
	margin-left: -18px;
	padding-right: 30px;
	width: 100%;
}

.basinnChart .columnHeader span {
	cursor: pointer;
	position: relative;
}

.basinnChartSortedAsc span::after, .basinnChartSortedDesc span::after {
	border-bottom: 2px solid #794016;
	border-right: 2px solid #794016;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	right: -10px;
	top: calc(50% - 2px);
	width: 4px;
}

.basinnChartSortedAsc span::after {
	transform: rotate(-135deg);
}

.basinnChartSortedDesc span::after {
	transform: rotate(45deg);
}

.basinnChart tr.expanded {
	background: rgb(121, 216, 35);
}

.basinnChart tr.expanded-content-row {
	background: rgb(248, 248, 248);
}

.basinnChart tr.expanded-content-row td {
	padding: 10px 10px 20px 10px;
	border-top: 2px solid rgb(181, 174, 187);
	width: 100%;
}

.basinnChart td {
	padding-left: 4px;
}

.chartSkillName {
	align-items: center;
	display: flex;
	gap: 4px;
}

.chartSkillName > img {
	cursor: pointer;
	height: 1.5em;
}

.basinnChartWrapperWrapper {
	position: relative;
	width: 100%;
}

.basinnChartRefresh {
	background: unset;
	border: unset;
	color: rgb(222, 161, 87);
	font-size: 26px;
	position: absolute;
	right: -36px;
	top: -12px;
	transition: all 100ms;
}

.basinnChartRefresh:hover {
	transform: scale(1.3);
}

.basinnChartRefresh:disabled {
	color: #9ca3af;
	cursor: not-allowed;
	opacity: 0.5;
}

.basinnChartRefresh:disabled:hover {
	transform: none;
}

.basinnChartRefreshText {
	color: rgb(222, 161, 87);
	font-size: 11px;
	position: absolute;
	right: -130px;
	top: 24px;
	white-space: nowrap;
	text-align: left;
	width: 120px;
}

.basinnChartRefreshText.hidden {
	display: none;
}