#introtext {
	font-size: 14px;
	height: 500px;
	margin-left: 20px;
	margin-top: -140px;
	overflow: auto;
	padding-right: 20px;
	width: 950px;
}

#introtext > details > summary {
	font-size: 1.4em;
}

#introtext h2 {
	font-size: 1.05em;
	font-weight: bold;
}

.warning-text {
	color: red;
}

#sourcelinks {
	font-size: 0.85em;
}
